@import "tailwindcss";

/* next-themes এর ডার্ক মোড কাজ করানোর জন্য এই লাইনটি খুব জরুরি */
@custom-variant dark (&:is(.dark *));
/* ডিফল্ট কার্সর পুরোপুরি গায়েব করার জন্য */

/* কাস্টম স্ক্রলবার (যেটা আমরা আগে দিয়েছিলাম) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}